<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Flask Project</title>
    <meta name="description" content="Flask App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "assets/_datetimepicker_js.html" %}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    {% include "assets/_datetimepicker_css.html" %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    {% include "layouts/_menu.html" %}
    <div class="container">
      {% block container %}{% endblock %}
    </div>
    <footer class="footer"></footer>

    <script type="text/javascript">
      $(function () {
        $('.datetimepicker').datetimepicker({
          /*format: 'MM-DD-YYYY hh:mm:ss a'*/
          format: 'MM-DD-YYYY hh:mm'
        });
      });
    </script>
  </body>
</html>
