<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('home') }}">Flask App</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="/main">Main</a></li>
        {% if user.is_authenticated() %}
          <li><a href="/events">Events</a></li>
          <li><a href="/entries">Entries</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.has_role('admin') %}
          <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
        {% endif %}
        {% if user.is_authenticated() %}
          <li><a href="/user">User</a></li>
        {% endif %}
        {% if not user.is_authenticated() %}
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Log In</a></li>
          <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span>Register</a></li>
        {% else %}
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
