{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="jumbotron">
    <h1>Profile</h1>
    <p>Hi, {{ current_user.email }}!</p>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <!--Date of birth: {{ user.birth_date.strftime('%m-%d-%Y') }}-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <a href="{{ url_for('user.update') }}" class="btn btn-sm btn-info">Edit Profile</a>
      </p>
    </div>
  </div>
{% endblock %}
