<!Doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      {% block title %}{% endblock %}
    </title>
    <meta name="description" content="Flask Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <link href="{{ url_for('static', filename='css/vendor/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    {% include "layouts/_menu.html" %}
    <div class="container">
      {% block container %}{% endblock %}
    </div>
    <footer class="footer"></footer>
  </body>
</html>
