{% extends 'layouts/_datetimepicker.html' %}
{% block container %}
  <div class="jumbotron">
    <h1>Create Event</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Flask Event Form</h4>
    </div>
  </div>
  {% from "macros/_formhelpers.html" import render_field_with_errors, render_field %}
  <form method="POST" action="" name="create">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col-sm-3 col-md-4">
        <div class="form-group">
          {{ render_field_with_errors(form.title, class='form-control') }}
        </div>
      </div>
      <div class="col-sm-3 col-md-8">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-4">
        <div class="form-group">
          {{ render_field_with_errors(form.address, class='form-control') }}
        </div>
      </div>
      <div class="col-sm-3 col-md-8">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-sm-2 col-md-3">
        <div class="form-group">
          {{ render_field_with_errors(form.city, class='form-control') }}
        </div>
      </div>
      <div class="col-sm-1 col-md-1">
        <div class="form-group">
          {{ render_field_with_errors(form.state, class='form-control') }}
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="form-group">
          {{ render_field_with_errors(form.zip_code, class='form-control') }}
        </div>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="form-group">
          {{ render_field_with_errors(form.country, class='form-control') }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="form-group">
          <div class="input-group date datetimepicker" >
            {{ render_field_with_errors(form.start_date, class='form-control') }}
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="form-group">
          <div class="input-group date datetimepicker" >
            {{ render_field_with_errors(form.end_date, class='form-control') }}
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <input type="submit" value="Create" class="btn btn-sm btn-success">
  </form>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{{ url_for('events.display_events') }}" class="btn btn-xs btn-warning">
        Cancel
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% raw %}
  {% endraw %}
{% endblock %}
