{% extends 'layouts/events/create.html' %}
{% block title %}FlaskProject - Create Event{% endblock %}
{% block container %}
  <div class="jumbotron">
    <h3>Create Event</h3>
  </div>
  <form method="POST" action="" name="create">
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <div class="form-group">
          <label for="tb-name">Event Name</label>
          <input type="text" class="form-control" id="tb-name" name="name">
        </div>
      </div>
      <div class="col-sm-9 col-md-9">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="form-group">
          <label for="tb-start-date">Start Date</label>
          <div class="input-group date datetimepicker" >
            <input type='text' class="form-control" id="tb-start-date" name="startDate" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="form-group">
          <label for="tb-end-date">End Date</label>
          <div class="input-group date datetimepicker" >
            <input type='text' class="form-control" id="tb-end-date" name="endDate" />
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-4">
        <div class="form-group">
          <label for="tb-address">Address</label>
          <input type="text" class="form-control" id="tb-address" name="address">
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-3">
        <div class="form-group">
          <label for="tb-address-line-two">&nbsp;</label>
          <input type="text" class="form-control" id="tb-address-line-two" name="addressLineTwo">
        </div>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-3">
        <div class="form-group">
          <label for="tb-city">City</label>
          <input type="text" class="form-control" id="tb-city" name="city">
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="form-group">
          <label for="tb-state">State</label>
          <input type="text" class="form-control" id="tb-state" name="state">
        </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-3">
        <div class="form-group">
          <label for="tb-zip-code">Zip</label>
          <input type="text" class="form-control" id="tb-zip-code" name="zipCode">
        </div>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-3">
        <div class="form-group">
          <label for="tb-country">Country</label>
          <input type="text" class="form-control" id="tb-Country" name="country">
        </div>
      </div>
    </div>
    <input type="submit" value="Create" class="btn btn-sm btn-success">
  </form>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <a href="{{ url_for('events.display_events') }}" class="btn btn-xs btn-warning">
        Cancel
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
{% endblock %}
