{% extends 'layouts/_datepicker_layout.html' %}
{% block container %}
  <div class="jumbotron">
    <h1>Create Event</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Flask Event Form</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-6">
      {% from "macros/_formhelpers.html" import render_field_with_errors, render_field %}
      <form method="POST" action="">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ render_field_with_errors(form.title, size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.address, size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.city, size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.state, size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.zip_code, size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.country, size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.start_date, size=20, class='form-control datepicker') }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.end_date, size=20, class='form-control datepicker') }}
        </div>
        <input type="submit" value="Create" class="btn btn-sm btn-success">
      </form>
    </div>
    <div class="col-sm-3 col-md-6">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{{ url_for('events.display_events') }}" class="btn btn-xs btn-warning">
        Cancel
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% raw %}
  {% endraw %}
{% endblock %}
