{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="jumbotron">
    <h2>Events</h2>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <p>
      <a href="{{ url_for('events.create_event') }}" class="btn btn-sm btn-primary">
        Create Event
      </a>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-2">Name</div>
    <div class="col-sm-3 col-md-2">Start Date</div>
    <div class="col-sm-3 col-md-2">End Date</div>
    <div class="col-sm-3 col-md-2">Status</div>
    <div class="col-sm-3 col-md-2">Category</div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% for data in events %}
    <div class="row">
      <div class="col-sm-3 col-md-2">{{data.title}}</div>
      <div class="col-sm-3 col-md-2">{{data.start_date}}</div>
      <div class="col-sm-3 col-md-2">{{data.end_date}}</div>
      <div class="col-sm-3 col-md-2">{{data.status.name}}</div>
      <div class="col-sm-3 col-md-2">{{data.category.name}}</div>
      <div class="col-sm-3 col-md-1">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
    </div>
  {% endfor %}
{% endblock %}
