{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="jumbotron">
    <h2>Events</h2>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-1">ID</div>
    <div class="col-sm-3 col-md-3">Create Date</div>
    <div class="col-sm-3 col-md-2">Name</div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% for data in events %}
    <div class="row">
      <div class="col-sm-3 col-md-1">{{data.id}}</div>
      <div class="col-sm-3 col-md-3">{{data.create_date}}</div>
      <div class="col-sm-3 col-md-2">{{data.title}}</div>
      <div class="col-sm-3 col-md-1">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
    </div>
  {% endfor %}
{% endblock %}
