{% extends 'layout.html' %}
{% block container %}
  <div class="jumbotron">
    <h1>Create Entry</h1>
  </div>
  {% if form.title.errors %}
    <ul class="errors">
    {% for error in form.title.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul><br/>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      <h4>Flask Form</h4>
    </div>
  </div>
  <div class="top-pad">
    <form method="POST" action="{{url_for('main.create_entry')}}">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.title.label }} {{ form.title(size=20, class_='form-control') }}
      </div>
      <div class="form-group">
        {{ form.body.label }} {{ form.body(size=20, class_='form-control') }}
      </div>
      <input type="submit" value="Create">
    </form>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% raw %}
  {% endraw %}
{% endblock %}