{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="jumbotron">
    <h1>Entries</h1>
  </div>
  <div class="row">
    <p>
      <a href="{{ url_for('entries.create_entry') }}" class="btn btn-sm btn-primary">
        Create Entry
      </a>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-1">ID</div>
    <div class="col-sm-3 col-md-1">User ID</div>
    <div class="col-sm-3 col-md-3">Publish Date</div>
    <div class="col-sm-3 col-md-2">Title</div>
    <div class="col-sm-9 col-md-4">Body</div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% for data in entries %}
    <div class="row">
      <div class="col-sm-3 col-md-1">{{data.id}}</div>
      <div class="col-sm-3 col-md-1">{{data.user_id}}</div>
      <div class="col-sm-3 col-md-3">{{data.create_date}}</div>
      <div class="col-sm-3 col-md-2">{{data.title}}</div>
      <div class="col-sm-3 col-md-4">{{data.body}}</div>
      <div class="col-sm-3 col-md-1">
        <a href="{{ url_for('entries.show', entry_id=data.id) }}" class="btn btn-xs btn-info">
          View
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
    </div>
  {% endfor %}
{% endblock %}
